@model Blog.ReadModel.Data.DraftPost
@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row">
	<div class="col-md-12">
		<form method="post" role="form">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" name="Title" placeholder="Title" value="@Model.Title" />
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="isArticle" name="IsArticle" value="true" @(@Model.IsArticle ? "checked" : "") @((Guid.Empty != Model.Id) ? "disabled" : "") />
				is an article
				</label>
			</div>
			<div class="form-group" @(Model.IsArticle ? "" : "style=display:none;") id="articleOrderDiv">
				<label for="title">Order</label>
				<input type="number" class="form-control" id="articleorder" name="ArticleOrder" value="@Model.ArticleOrder" />
				<p class="help-block">Only for articles</p>
			</div>
			<div class="form-group">
				<textarea id="content" name="Content" style="width:100%; height:275px">@Model.Content</textarea>
			</div>
			@Html.Hidden("Id", @Model.Id)
			<button type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p>&nbsp;</p>
		<form method="post" class="form-horizontal" id="fileUpload" action="/Drafts/FileUpload" enctype="multipart/form-data">
			<div class="form-group">
				<label for="file" class="col-lg-1 control-label">File</label>
				<div class="col-lg-11">
					<input type="file" id="file" name="file" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-1 col-lg-11">
					<button type="submit" class="btn btn-default">Upload</button>
				</div>
			</div>
		</form>
	</div>
</div>
@section Scripts
{
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
	<script src="~/Scripts/external/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			tinymce.init({
				selector: '#content',
				content_css: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css',
				plugins: [
					 "advlist autolink lists link image charmap print preview anchor",
					 "searchreplace visualblocks code fullscreen",
					 "insertdatetime media table contextmenu paste"
				],
				toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
			});

			$('#fileUpload').ajaxForm(function () {
				$('#fileUpload')[0].reset();
			});

			$('#isArticle').click(function () {
				if (this.checked) {
					$('#articleOrderDiv').show();
				}
				else {
					$('#articleOrderDiv').hide();
				}
			});
		});
	</script>
}