<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	@RenderSection("Styles", false)
</head>
<body>
	@if (Request.IsAuthenticated)
 {
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					@RenderSection("Menu", false)
					<li>
						<a href="/Login/Edit?ReturnUrl=@Request.Url">Change Password</a>
					</li>
					<li>
						<a href="/Login/Signout?ReturnUrl=@Request.Url">Signout</a>
					</li>
				</ul>
			</div>
		</nav>
 }
	<p />
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<div class="container">
						<h1><a href="/">Domain CQRS Blog</a></h1>
						<p>CQRS + Event Sourcing + Domain Driven Design + Behaviour Driven Development</p>
					</div>
				</div>
			</div>
		</div>
		@RenderBody()
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>&nbsp;</p>
				<small>(C) Copyright 2013 Chris Day</small>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>
